{% extends '::base-admin.html.twig' %}
{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% block react_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <script src="{{ asset('assets/scripts/admin-page/index.js') }}?v={{ date().timestamp }}"></script>
    {#<script src="{{ asset('assets/scripts/admin-page/geoScript.js') }}?v={{ date().timestamp }}"></script>#}
    <script src="{{ asset('assets/scripts/admin-page/maps.js') }}?v={{ date().timestamp }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv971y_AIFpzg12MG8BMIKViXKM12mc5I&libraries=places&callback=initMap"
    async defer></script>
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>College creation</h1>
    </section>

    <section class="content" ng-app="studyApp" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-edit"></i>
                        <h3 class="box-title">New College</h3>
                    </div>
                    <div class="box-body">
                        <section>
                            College
                            <div>
                                <label>Name:</label>
                                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                                <hr>
                                <h1>Hello [[yourName]]!</h1>
                            </div>

                            <section style="height: 300px; width: 100%">
                                <input id="pac-input" class="controls" type="text"
                                       placeholder="Enter a location">
                                <div id="map"></div>
                                <div id="infowindow-content">
                                    <span id="place-name"  class="title"></span><br>
                                    Place ID <span id="place-id"></span><br>
                                    <span id="place-address"></span>
                                </div>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        {{ dump(college) }}
    </section>

{% endblock %}

{% block style_block %}
    <style>
        #map,body,html{height:100%}body,html{margin:0;padding:0}.controls{background-color:#fff;border-radius:2px;border:1px solid transparent;box-shadow:0 2px 6px rgba(0,0,0,.3);box-sizing:border-box;font-family:Roboto;font-size:15px;font-weight:300;height:29px;margin-left:17px;margin-top:10px;outline:0;padding:0 11px 0 13px;text-overflow:ellipsis;width:400px}.controls:focus{border-color:#4d90fe}.title{font-weight:700}#infowindow-content{display:none}#map #infowindow-content{display:inline}
    </style>
{% endblock %}
